{% macro proposals_handler() %}
    handle_path /propuestas/* {
        root * /srv/proposals
        encode gzip
        file_server
        header {
            X-Robots-Tag "noindex, nofollow, noarchive"
            Referrer-Policy "no-referrer"
        }
    }
{% endmacro -%}
{
    admin 0.0.0.0:2019
    email {{ acme_email }}
}

{{ admin_domain }} {
{% if admin_tls_internal %}
    tls internal
{% else %}
    tls {
        issuer acme
        issuer internal
    }
{% endif %}
    reverse_proxy backend:8000
}

{% for page in pages %}
{% for domain in page.domains %}
{{ domain.hostname }} {
{% if pages_tls_internal %}
    tls internal
{% endif %}
{% if domain.hostname in proposal_hosts %}
{{ proposals_handler() }}
{% endif %}
    handle {
        root * /srv/pages/{{ page.slug }}
        encode gzip
        file_server
        try_files {path} /index.html
        header {
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
        }
    }
}
{% endfor %}
{% endfor %}
{% for hostname in proposal_only_hosts %}
{{ hostname }} {
{% if pages_tls_internal %}
    tls internal
{% endif %}
{{ proposals_handler() }}
    handle {
        respond 404
    }
}
{% endfor %}
